$--color-primary: #ff745c;
$--color-success: #52c41a;
$--color-warning: #faad14;
$--color-danger: #ff4d4f;

$grey: #c1c1c9;
$blue: #5e9dff;
$red: #ff4d4f;
$green: #52c41a;
$yellow: #ffb500;
$orange: #ff8c00;
