// base color
$light-blue:#3A71A8;

$pink: #E65D6E;
$panGreen: #30B08F;

// sidebar
$menuText:#4A4A53;
$menuActiveText:#FF745C;
$subMenuActiveText:#FF745C;
$subMenuActiveBg:#FFEDEA;

$menuBg:#fff;
$menuHover:#FFEDEA;

$subMenuBg:#fff;
$subMenuHover:#FFEDEA;

$sideBarWidth: 200px;



$grey: #c1c1c9;
$blue: #5e9dff;
$red: #ff4d4f;
$green: #52c41a;
$yellow: #ffb500;
$orange: #ff8c00;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
