@import './theme/theme.scss';
.text-primary{color: $--color-primary!important;}
.text-success{color: $--color-success!important;}
.text-danger{color: $--color-danger!important;}
.text-warning{color: $--color-warning!important;}

.text-blue{color: $blue !important;}
.text-red{color: $red !important;}
.text-yellow{color: $yellow !important;}
.text-green{color: $green !important;}
.text-grey{color: $grey !important;}


.fw-1{font-weight: 100 !important;}
.fw-2{font-weight: 200 !important;}
.fw-3{font-weight: 300 !important;}
.fw-4{font-weight: 400 !important;}
.fw-5{font-weight: 500 !important;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700 !important;}

@for $i from 0 through 30 {
    .m-#{$i} {
        margin: ($i) + px !important;
    }
    .mt-#{$i} {
        margin-top: ($i) + px !important;
    }
    .mb-#{$i} {
        margin-bottom: ($i) + px !important;
    }
    .ml-#{$i} {
        margin-left: ($i) + px !important;
    }
    .mr-#{$i} {
        margin-right: ($i) + px !important;
    }

    .p-#{$i} {
        padding: ($i) + px !important;
    }
    .pt-#{$i} {
        padding-top: ($i) + px !important;
    }
    .pb-#{$i} {
        padding-bottom: ($i) + px !important;
    }
    .pl-#{$i} {
        padding-left: ($i) + px !important;
    }
    .pr-#{$i} {
        padding-right: ($i) + px !important;
    }
    .fz-#{$i} {
        font-size: $i + px !important;
    }
}
.text-ell-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-ell-2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
