@import "./theme/theme.scss";
.xn-ellipsis {
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.6;
    font-size: 14px;
    color: inherit;
    &__action {
        color: $--color-primary;
        cursor: pointer;
    }
    &__tooltip{
        max-width: 300px !important;
    }
}
