.xn-table-box{
    &-tools{
        text-align: right;
        padding-bottom: 10px;
        &.is-border{
            border-bottom: 1px solid #f0f0f0;
        }
        &__pop{
            min-width: 120px !important;
            padding: 0 0 0 10px !important;
        }
        &__coll{
            max-height: 200px;
            overflow-y: auto;
        }
    }
}