.xn-upload {
    &-main{
        border: 1px solid red;
        &.is-disabled {
            border: 1px solid red;
            .el-upload.el-upload--picture-card {
                cursor: not-allowed;
                background-color: #f4f4f5;
                &:hover {
                    border-color: #c0ccda;
                    color: #c0ccda;
                }
                .upload-limit {
                    i,
                    span {
                        color: #bcbec2;
                    }
                }
            }
        }
    }
    &--slot{
        height: 100%;
        
        &__ext {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1000;
            background: rgba($color: #000000, $alpha: 0.4);
            height: 20px;
            line-height: 20px;
            color: #fff;
            font-size: 12px;
            padding: 0 5px;
            border-radius: 0 0 0 0;
        }
    }

}
